@charset"utf-8";
body {
    font: 12px/1.4 'Microsoft YaHei',Arial;
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none
}
html,body, p, ol, ul, li, h1, h2, h3, h4, h5, h6, dl, dt, dd, pre, input, table, tr, td, form {    margin: 0;    padding: 0}
.icon, i {font-style: normal; text-decoration: none;}
ol, ul, li { list-style: none}
input { border: 0 none}
img {border: 0 none}
.fl, .fd {float: left}
.fr, .fdr {float: right}
.vcen { vertical-align: middle}
a { color: #333; text-decoration: none}
a:hover { text-decoration:none;}
a:active { noOutline: expression(this.onFocus=this.blur())}
.red {color: #C8310C}
.blue { color: #0082D5}
.b2 {color: #B2B2B2;}
:focus { outline: 0}
.hide-t {line-height: 9999px; overflow: hidden;}
.hide_txt { text-indent: -9999px;   height: 0; line-height: 0;overflow: hidden}
.ie-dh-con{ min-width: 980px;}
.comment { padding: 0 4px;  color: #213f6c;  vertical-align: middle}
.js-qq { color: #213f6c;  padding: 4px;  vertical-align: middle}
.ft24{font-size:24px;}
.ft20{ font-size: 20px;}
.clearfix { zoom: 1}
.dn,.public-dn { display: none}
.db{ display: block;}
.ie-dh-con{ min-width: 980px; overflow-x: visible;}
.zxkf-btn,.qqkf-btn {    background: url(/common/images/public.png) no-repeat; display: inline-block;}
.zxkf-btn{ width: 30px;   height: 30px; background-position: 0 0 ;}
.qqkf-btn{ width: 30px;   height: 30px; background-position: -32px 0 ;}
/* lpͷ�� */
.header {  position: fixed;   width: 100%;  background: #fff;  margin: 0;  height:60px;  padding: 10px 0;  border-bottom: 1px solid #ddd;
  z-index: 1000;  top:0; box-sizing: content-box;
  }
.header .header-inner { max-width: 1190px;   margin: 0 auto; padding: 0 10px;  }
.fixed-top{float:left}
.header-inner h1{white-space:nowrap}
.header-inner h1 .logo{width:200px; height: 60px; background: url(/public/images/logo1.png) no-repeat;display: inline-block;line-height:9999em;overflow:hidden;vertical-align:middle; margin-top: 1px;}
.header .btn-service {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
    width: 122px; height:35px; line-height: 35px;
    margin: 0 0 0  8px;
    font-size: 14px;
    color: #222;
    text-align: center;
}
.header-inner h1 .logo-mlink{display:none}
.header .box2{ background:  url("/common/images/top-icon.png") no-repeat;  background-position: 0 -38px; color: #fff; border: none}
.header .btn-service i{ display: inline-block; vertical-align: middle; width: 36px; height: 26px;}
.icon-us,.icon-pt,.icon-kf{ background: url("/common/images/top-icon.png") no-repeat}
.icon-us{ background-position: 0 2px;}
.icon-pt{ background-position: 0 -20px;}
.icon-kf{ background-position: 0 0px;}
.header .btn-service:hover{background-color:#1e82d2; }
.header .box2:hover{ background: #1e82d2; border: none; height: 34px; }
.h-right{ margin-top: 13px;}
.h-right .icon-comment,.h-right .icon-qq{ font-size:18px;    margin: 0 5px 0 10px;}
/*lp�ײ�*/
.bottoms {
    background: #262f36;
    display: block;
    padding: 120px 0 0 0;
    font-size: 12px;
    float: left;
    width: 100%;
    font-style: normal;
}
.bottoms .bottom {max-width: 1190px;  min-width: 320px;  margin: 0 auto;}
.bottoms, .bottoms a {color: #fff;}
/* .bottom-box{ width: 920px; margin: 0 auto} */
.bottoms .b_left {
    width: 30%;
    line-height: 24px;
    display: inline-block;
    * float : left;
}
.bottoms .b_right {
    width: 57%;
    border-left: 1px solid #0a2533;
    border-right: 1px solid #0a2533;
    margin: 0;
    display: inline-block;
    position: relative;
    *float : left;
}
.bottoms  .b_r_nr{ /*margin:0 0 0 96px; */margin:0 15px 0 25px;line-height:25px;padding: 0 10px 0 0;}
.bottoms .b_logo {
    width:161px;
    height:52px;
    background: url(/common/images/logo_bottom.png) left no-repeat;
    display: inline-block;
    vertical-align:top
}
.bottom-text{margin-left:120px;width:580px; display: inline-block; font-size: 16px; color: #5d6972; line-height: 32px; font-family: "微软雅黑";vertical-align:top}
.bottom-cop{ width: 100%; border-top: 1px solid #303a43; margin-top: 135px; height: 52px; padding: 14px 0}
.bottoms .kf-tb{ background: url(/common/images/kf-tb.png) left no-repeat; width: 10px; background-size: contain; height: 10px; display: inline-block;}
.bottoms .weixin{ width: 88px; float: right; background: #00384D;}
.bottoms .weixin a{ float: left;    margin: 0 0 10px 0 ;}
.bottoms .ditu, .bottoms .ditu_yg { display: inline-block;    width: 76px;    position: absolute;    left: 10px;}
.bottoms .ditu { height: 110px; background: url(/common/images/ditu.png) left no-repeat;}
.bottoms .ditu_yg {height: 83px;    background: url(/common/images/ditu_yg.png) left no-repeat;   top: 60%;}
.banquan {
    text-align: left;
   line-height:1.6;
 color: #4d5c68;
    font-size: 13px;
    /* float: left; */
}
.banquan a{color:#4d5c68;padding:0 10px;}
.header .tb-phone{ display: none;}
.bot-ewm-info{float:right;text-align:center;color:#616f7a}
.bot-ewm-info p{margin-top:6px;font-size:12px;}
.tnc_btn{margin-top:10px;}

/* 右侧悬浮 */
/* .close, .ljcy, .qqzx, .right-float, .service {
    background: url(/common/images/right-float.png) center center no-repeat;
    display: inline-block;*display: inline; *zoom:1;
    text-align: center
} */

/* float2 */
/* .right-fl2-fon .close, .right-fl2-fon .ljcy,.right-fl2-fon, .right-fl2-fon .service {
    background: url(/common/images/right-float.png) center center no-repeat;
    display: inline-block;*display: inline; *zoom:1;
    text-align: center
} */

/* float3 */
/* .right-float.style3,.right-float.style3 .ljcy,.right-float.style3 .qqzx, .right-float.style3 .service, .right-float.style3 .close {
    background-image: url(/common/images/right-float3.png);
    display: inline-block;*display: inline; *zoom:1; text-align: center;vertical-align:top;font-size:0; height: 265px;
} */

/* float4 */
/* .right-float.style4,.right-float.style4 .qqzx, .right-float.style3 .service, .right-float.style3 .close {
    background-image: url(/common/images/right-float4.png);
    display: inline-block;*display: inline; *zoom:1; text-align: center;vertical-align:top;font-size:0
} */

/* float7 */
/* .right-float.style7, .right-float.style7 .close,.right-service.style7 .service {
    background-image: url(/common/images/right-float7.png);
    display: inline-block;*display: inline; *zoom:1; text-align: center;vertical-align:top;font-size:0
} */

/* float8 20160921*/
/* .right-float.style8, .right-float.style8 .close,.right-service.style8 .service {
    background-image: url(/common/images/right-float8.png);
    display: inline-block;*display: inline; *zoom:1; text-align: center;vertical-align:top;font-size:0
} */

/* float9 20170309*/
/* .right-float.style9, .right-float.style9 .close,.right-service.style9 .service {
    background-image: url(/common/images/right-float9.png);
    display: inline-block;*display: inline; *zoom:1; text-align: center;vertical-align:top;font-size:0
} */

/* .right-float {
    width: 164px;
    height: 242px;
    display: inline-block;
    position: fixed;
    top: 50%;
    right: 0;
    margin: -121px 0 0 0;
    background-position: -1px -99px;z-index:2
} */
/* .right-float .ljcy, .right-float .qqzx { width: 142px;    height: 34px; display: block;}

.right-float .ljcy {
    background-position:0 0;
    margin: 185px 0 0 10px;
    *margin: 185px 0 0 5px
}
.right-float .ljcy:hover{background-position:0 -30px}

.right-float.style3 .ljcy {background-position: 0 -10px; margin: 169px 0 0 0;width:140px; height:33px}
.right-float.style3 .ljcy:hover { position:relative; top:-3px } */

/* .right-float .qqzx {
    background-position: 0 -52px;
    margin: 5px 0 0 10px;
    *margin: 5px 0 0 5px
} */
/* .right-fl2-fon .qqzx {
    margin:184px 0 0 14px;
    *margin:184px 0 0 4px;
    background-position:0 0;
    font-weight:bold;
    color:#553514;
    text-align:center;
    width:132px;height:35px;font-size:0
}
.right-fl2-fon .qqzx:hover{background-position:0 -35px}
.right-float.style3 .qqzx { background-position: 0 -50px; width:140px; height:33px; margin:14px 0 0 0; font-size:0; line-height:0}
.right-float.style3 .qqzx:hover{ background-position:0 -368px; position:relative; top:-3px;}

.right-float.style4 .qqzx { background-position: 0 -20px; width:140px; height:42px; margin:203px 0 0 0; font-size:0; line-height:0}
.right-float.style4 .qqzx:hover{ margin:200px 0 0 0 }


.right-float .close {
    width: 20px;
    height: 20px;
    background-position: -185px -180px;
    position: absolute;
    right:5px;
    top:0
}
.right-float .close:hover{background-position:-185px -214px} */



/* 返回顶部 */
.back-top {
    position: fixed;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop + document.documentElement.clientHeight) -34+'px' );
    bottom: 64px;
    right: 80px;
    width: 30px;
    z-index: 10000;
}
.back-top a {
    background-image: url(/common/images/top.png);
    transition: all .2s ease-in-out;
    cursor: pointer
}
.back-top a,.back-top a:hover {
    overflow: hidden;
    background-repeat: no-repeat;
    display: block;
    width: 65px;
    height: 65px;
    margin-bottom: 2px;
    background-size: contain;
    text-indent: -999px;
    -webkit-transition: all .2s ease-in-out
}
.back-top a:hover {
    background-image: url(/common/images/top_hover.png);
    transition: all .2s ease-in-out;
    cursor: pointer
}

/* style7 20160902*/
/* .right-float.style7{width: 150px; height: 264px; background-position: 0 0 }
.right-float.style7 .qqzx{ background: none; height: 26px; width: 96px; margin:202px auto 0; font-size: 16px; line-height: 26px; border: 1px solid #fff; color: #fff; border-radius: 13px;  font-weight: bold; }
.right-float.style7 .qqzx:hover{ border-color: #ffd966; color: #ffd966 }
.right-float.style7 .close{ background-position: -160px -140px; width: 8px;height: 8px; right: 7px;top: 7px; }
.right-float.style7 .close:hover{ background-position: -160px -160px; }
.right-service.style7 { width: 32px;height: 110px;  }
.right-service.style7 .service{ background-position: -160px 0 } */

/* style8 20160921*/
/* .right-float.style8{width: 150px; height: 241px; background-position: 0 0 }
.right-float.style8 .qqzx{ background: #a6ddf9; height: 26px; width: 99px; margin:182px auto 0; font-size: 15px; line-height: 26px; border: 0; color: #0e0701; border-radius: 13px;  font-weight: bold; }
.right-float.style8 .qqzx:hover{ background: #5ec8ff; }
.right-float.style8 .close{ background-position: -180px -160px; width: 8px;height: 8px; right: 7px;top: 7px; }
.right-float.style8 .close:hover{ background-position: -180px -180px; }
.right-service.style8 { width: 32px;height: 110px;  }
.right-service.style8 .service{ background-position: -168px 0 } */

/* 右悬浮改版 20170309 by janice*/
/* .floatright_ad{ width: 160px; height: 241px; position: fixed;right:4px; top: 50%; margin-top: -120px; background: url(../images/fr_adpic.png) 0 0 no-repeat; z-index: 100}
.floatright_ad .fr_btnpart{ padding: 20px 0 0; }
.floatright_ad .online_service{ display: block; width: 100%; height: 220px; font-size: 0; line-height: 0; cursor:pointer;}
.floatright_ad .fr_delbtn{position:absolute;right:4px;top:4px;display:block;width:14px;height:14px; margin:0; background:url(../images/fr_delbtn.png) no-repeat 0 0}
.floatright_ad .fr_delbtn:hover{ background-position: right 0}
.floatright_ad_small{position:fixed;right:4px;top:50%; margin-top: -54px; padding: 10px 3px; width:28px;height:auto;background:#bf9b70;z-index:2;cursor:pointer; border-radius: 3px; color: #fff; font-size: 18px; line-height: 22px; text-align: center;}
.floatright_ad_small:hover{ background: #ddb585 } */

/* 右悬浮特殊情况 */
/* .floatright_ad.style1{ background-image: url(../images/fr_adpic1.png)} */

/* 部分LP加入文字提示 by terry 2017.4.10 */
.banner{position:relative}
.ban-float-text{position:absolute;right:12px;top:4px;height:26px;line-height:26px;text-align:center;font-size:16px;opacity:0.3;
filter:alpha(opacity=30);color:#fff;z-index:1;text-shadow:0 1px 1px #666}
.ban-fon .ban-float-text{color:#000}
.ban-fon2 .ban-float-text{top:6px;font-size:16px}
.ban-fon3 .ban-float-text{top:6px;font-size:16px;color:#000;text-shadow:none}


/* 头部动画 by terry 2017.6.30 */
.comp-int-ex{position:relative;display:inline-block;font-size:0;vertical-align:middle;width:150px;height:55px;overflow:hidden;background:#fff}
.comp-int-ex span{position:absolute;left:0;top:0;display:block;width:100%;height:100%}
.comp-int-ex .header-sg1{background:#fff url(/common/images/header-slogan.png) no-repeat center top;background-size:100% auto;z-index:1}
.comp-int-ex .header-sg2{top:55px;background:#fff url(/common/images/header-slogan.png) no-repeat center bottom;background-size:100% auto;opacity:0;z-index:2}
.comp-mo-fon{display:none}

/* 部分LP隐藏底部微信二维码 在body上加入bot-ewm-hidfon by terry 2017.12.14 */
.bot-ewm-hidfon .bottoms .weixin{display:none}
.bot-ewm-hidfon .bottoms .b_right{border-right:none;border-bottom:none}
.bot-ewm-hidfon .bottoms .b_right{width:67%}
.bot-ewm-hidfon .bottoms .b_r_nr{padding:0;margin:0 0 0 25px}

@media(max-width: 1190px){
    .bottoms .bottom{max-width:1000px;}
    .bottom-text{margin-left:4%}
}

@media(max-width: 979px){
    /* lp header */
    .fixed-top h1{ height: 40px; width:50%}
    .header {  position: fixed;   width: 100%;  background: #fff;  margin: 0;  height:40px;  padding: 8px 0;  border-bottom: 1px solid #ddd;  z-index: 1000;  top:0;  }
    .header .header-inner { max-width: 960px;   margin: 0 auto; padding: 0 10px; height:40px; }
    .fixed-top{    float: left;}
   .header-inner h1 .logo {   width:200px;    height: 36px;background-size:115px auto; margin-top: 2px;}
    .header .btn-service {    display: inline-block;    border: 1px solid #ccc; margin:0px;   border-radius: 3px; width: 100px; height: 30px; line-height: 30px; padding: 0;    font-size: 12px; margin:1px 2px 0 0}
    .header .box2{    border:none}
    .h-right .icon-comment, .h-right .icon-qq{  font-size: 14px; margin: 0 0 0 7px;}
    .h-right{ margin-top: 3px}
    .comp-int-ex{width:90px;height:32px}
    .header .btn-service i{ width: 25px; height: 19px; background-size: 143px auto}
    /* .bottom-box{ width: 700px;} */


    /*lp bottom*/
    .bottoms {   display: block; padding:80px 0 0 0; font-size: 12px; float: left;  width: 100%; }
    .bottoms .bottom {max-width:90%;  min-width: 320px;  margin: 0 auto;}
    /* .bottoms, .bottoms a {color: #fff;} */
    .bottoms .b_left {    width: 90%;    padding: 0 5%;    line-height: 24px;    display: inline-block;    float: left;  }
    .bottoms .b_right {    width: 90%;    border-left: none;    border-right: none;    margin: 10px 5% 0 5%;    word-wrap:break-word ;    padding:10px 0 0  0;    border-top: 1px solid grey;
        border-bottom: 1px solid grey;    float: left; position: relative;
    }
    .bottom-text{ width:350px;}
    .bottoms  .b_r_nr{ /*margin:0 0 0 96px; padding: 0 10px 0 0;*/margin:0 0 10px 0;padding: 0;}

    .bottoms .weixin{  width: 90%; margin: 10px 0 0; padding:0 5%;   position: relative ; background: #00384D;    float: left;}
    .bottoms .weixin a{  float: left;   max-width:70px;  margin: 0 10px 10px 0 ; }
    .bottoms .weixin img{ float: left; width: 70px;}
    .bottoms .ditu, .bottoms .ditu_yg { display: inline-block;    width: 76px;    position: absolute;    left: 10px;}
    .bottoms .ditu { height: 110px; background: url(/common/images/ditu.png) left no-repeat;}
    .bottoms .ditu_yg {height: 83px;    background: url(/common/images/ditu_yg.png) left no-repeat;   top: 60%;}
    .banquan { font-size: 12px; }
    .back-top { bottom: 30px;   right: 20px;    width: 30px;    }
    .back-top a,.back-top a:hover { width: 36px;    height: 36px;}
    .floatright_ad,.floatright_ad_small{ display: none !important; }
    .bottom-cop{ margin-top: 85px;}
    
    /* 部分LP隐藏底部微信二维码 在body上加入bot-ewm-hidfon by terry 2017.12.14 */
    .bot-ewm-hidfon .bottoms .b_right{width:90%}
    .bot-ewm-hidfon .bottoms .b_r_nr{margin:0}
    .header .box2:hover{     background: url(/common/images/top-icon.png) no-repeat;
        background-position: 0 -38px; height: 30px;}
}



@media(max-width:750px){
    /* .bottom-box{ width: 90%; margin:  0 auto} */
    .bottoms{padding:.8rem 4% 0;width:92%;float:none}
    .bottoms .b_logo{ float: none; margin: 0 auto;width:1.61rem;height:.52rem;background-size:100% auto}
    .bottoms .bottom{min-width:0;}
    .bottom-text{ width: 100%; float: none; font-size:.24rem; line-height:.42rem; text-align: justify; margin-top:.5rem;}
    .bottom-cop{ margin:.4rem auto 0 auto;padding:.3rem 0;height:auto;}
    .banquan{ font-size:.2rem;float:none;width:100%;}
    .right-float,.right-service{ display: none !important;}

    .bot-ewm-info{display:none}
    .bottoms .b_logo{margin:0 auto;display:block}
    .bottom-text{width:100%;margin:.4rem 0 0}
    .tnc_btn{display:none}

}



/*.............*/
/* @media(max-width:640px){ .banquan { width:97%; font-size: 12px; line-height: 24px;}
    .bottom-cop{ height: 48px; padding: 20px 0}
    .bottom-text{ font-size: 15px; line-height: 28px;    margin-top: 30px;}
    .bottoms{     padding: 40px 0 0 0;}
    .bottom-cop{    margin: 40px auto 0 auto;}}


@media(max-width:640px){
    .header .btn-service{ display: none; width: 90px;}
    .header .btn-service span{ display: none; }
    .header .btn-service i{ margin: 0 auto}
    .header .box2{ display: block; margin-top: 2px;}
    .header .box2 span{ display: inline-block;}

    .icon-us {  background-position: 5px 2px;  }
    .icon-pt {  background-position: 2px -20px;  }
    .header .btn-service:hover .icon-us{ background-position: -33px 1px;}
    .header .btn-service:hover .icon-pt{ background-position: -32px -21px;}
    .fixed-top h1{ height: 40px; width:auto}
    .header .btn-service{ margin: 2px 2px 0 0}
    .header-inner h1 .logo-mlink{display:inline-block}
    .header-inner h1 .logo-pclink{display:none}

    .ban-float-text,.ban-fon2 .ban-float-text,.ban-fon3 .ban-float-text{right:4px;top:-2px;font-size:10px;width:auto}
}

@media(max-width:480px){
    .bottoms .b_logo{ width: 50px; height: 65px;  background-size: 50px auto;}
    .bottom-text{ font-size: 13px; line-height: 22px;}
    .banquan{ font-size: 10px; line-height: 18px; }
    .bottom-cop{ height: 36px; padding: 12px 0}

}
@media(max-width:350px){
    .banquan{ font-size: 8px;}
    .bottoms{    padding: 20px 0 0 0;}
    .bottom-text{margin-top: 12px;}
    .bottom-cop{margin: 20px auto 0 auto;}

} */

/*左侧浮窗*/
.left-float {
    background: url(/common/images/lp-left.png) no-repeat;
    width: 164px;
    height: 272px;
    position: fixed;
    top: 50%;
    margin-top: -138px;
    left: 0;
    z-index:2
   }

 .left-f-del{position:absolute;right:0;top:0;width:20px;height:20px}

 @media(max-width:768px){
    .left-float{ display: none;}
}
/*
.right-float{width:151px}
.right-float,.right-float .qqzx{background:url(/common/images/right-float6.png) no-repeat 0 -91px}
.right-float .ljcy{display:none}
.right-float .qqzx{margin:102px auto 0;width:92px;height:27px;background-position:0 0}
.right-service .service{background:url(/common/images/right-float6.png) no-repeat -178px -24px}
 */


/* 旧的弹出框 */
/* @media(max-width:768px){
    .service-right{ display: none;}
}
.service-float{position:fixed;top:30%;left:50%;width:736px;margin-left:-368px;height:455px;padding:240px 0 80px;
z-index:9999;background:url(/common/images/float_03.png) no-repeat;_bottom:auto;_width:430px;_position:absolute;
_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));display:none}.service-float span{width:24px;height:24px;position:absolute;right:9px;top:8px}.service-float a{text-decoration:none}.service-float .service-float-liveservice{width:243px;height:61px;position:absolute;left:113px;top:117px}.service-float .service-float-qq{width:243px;height:61px;position:absolute;left:378px;top:117px}.service-right{width:150px;background:url(/promote/common/images/right_float.png) center no-repeat;z-index:99999;padding:3px;position:fixed;right:0;top:50%;height:270px;margin-top:-124px;cursor:pointer}.service-right-tit{color:#fff;text-align:center;height:42px;font-size:18px;padding:0 0 0 14px}.service-right-list{background:0 0;padding:0 5px}.service-right-list p{height:42px;border-bottom:none;margin:0}.service-right-list a{color:#333;display:block;width:127px;height:34px}.service-right-list .service-right-qq{background:url(/promote/common/images/online-service.png) center no-repeat;margin-top:169px}.service-right-list .service-right-online{background:url(/promote/common/images/qq.png) center no-repeat;border-bottom:none} */

/* 公用活动条款弹出层 by terry 2016.9.28 */
.common-layout-shadow{position:fixed;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.6;filter:alpha(opacity=60);z-index:100000}
.common-layout-box{position:fixed;left:50%;top:50%;margin:-290px 0 0 -400px;width:800px;height:580px;color:#444;background:#fff;border-radius:5px;overflow:hidden;z-index:100001}
.common-layout-title{font-size:30px;text-align:center;background:#F5F5F5;padding:20px 0px}
.common-layout-title h3{font-weight:normal}
.common-layout-content h4{padding-left:10px}
.common-layout-content .mt30{margin-top:30px}
.common-layout-del{position:absolute;right:2px;top:1px;width:42px;height:42px;font:30px "\5B8B\4F53";color:#999;z-index:20}
.common-layout-content{padding:30px 35px 20px;font-size:14px;line-height:22px;height:370px;overflow-y:auto}
.common-layout-content .common-fon-tt{padding-bottom:15px}
.common-layout-content .common-fon-tt span{font-weight:normal}
.common-layout-content ol{padding:10px 0 0 26px}
.common-layout-content li{list-style:none;line-height:1.6;padding-bottom:10px}
.common-layout-content ul li{list-style:decimal;color:#555}
.common-layout-content ul li strong{color: #333}
.common-layout-content .ol-decimal li{ list-style: decimal}
.common-layout-content .common-mar-tt{margin-top:20px}
.common-layout-content .common-layout-table{width:100%;margin: 20px 0; border: 1px solid #f0e7d8; border-bottom: none; border-right: none;}
.common-layout-content .common-layout-table th,.common-layout-content .common-layout-table td{border-bottom:1px solid #f0e7d8;border-right:1px solid #f0e7d8;padding:12px 0 12px 50px}
.common-layout-content th{background:#f0e7d8;font-size:14px;font-weight:normal; text-align: center; padding: 5px 0}
.common-layout-content .color-red{ color: #dd3649; font-size: 14px; display: block}
.common-layout-content table{margin-top:15px;border: solid #f0e7d8; border-width: 0 1px 0 1px}
.common-layout-content td{ text-align: center; height: 40px; border: solid #f0e7d8; border-width: 0 0px 1px 0px;}
.common-layout-content .list-table .border-ri{ border-right: 1px solid #fff}
.common-layout-mobile{height:auto;overflow:hidden;padding:15px}
.common-layout-copyright{font-size:14px;text-align:center;padding:20px;background:#f5f5f5}
.common-layout-copyright span{display:block;padding-bottom:5px}
.common-layout-mback{margin-top:56px;text-align:center;height:50px;line-height:50px;background:#fff}
.common-layout-mback a{display:block;width:100%;height:100%;color:#1893da;font-size:16px}
.common-layout-mobile .common-layout-table th,.common-layout-mobile .common-layout-table td{padding:8px 10px;font-size:12px}
.common-layout-mobile .common-layout-table th{font-size:14px}
.common-layout-zxbtn{ display: block; width: 140px; line-height: 34px; font-size: 16px; color: #fff; background: #0585bc;  background: -moz-linear-gradient(left, #0585bc 0%, #17cc85 100%); background: -webkit-linear-gradient(left, #0585bc 0%,#17cc85 100%); background: linear-gradient(to right, #0585bc 0%,#17cc85 100%);  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0585bc', endColorstr='#17cc85',GradientType=1 ); margin: 20px auto 0; text-align: center; border-radius: 3px;}
.common-layout-zxbtn:hover{ background: #1e82d2;}

@media(max-width:640px){
    .common-layout-title{font-size:20px;padding:14px 0}
    .common-layout-content .common-fon-tt span{display:block;font-size:14px}
    #commonMobileRule{display:inline-block}
    #commonPcRule{display:none}
}


/* 公用内容页头部 by Vita 2017.3.28 */
.app-top-head{text-align:center;background:#213675;height:44px;}
.app-top-head.fixed-top{position:fixed;top:0;width:100%;z-index:9;}
.app-top-head .tit{color:#fff;font-size:17px;display:inline-block;*display:inline;*zoom:1;line-height:44px;}
.app-top-head .i-back{width:16px;height:16px;display:inline-block;background:url(/common/images/i-back-app.png) no-repeat center center;background-size:16px auto;}
.app-top-head [class*="head-link-"]{position:absolute;top:0;font-size:14px;line-height:44px;color:#fefeff;display:inline-block;*display:inline;*zoom:1;}
.app-top-head [class*="head-link-"].head-link-l{left:10px;}
.app-top-head [class*="head-link-"].head-icon-l{padding-left:16px;}
.app-top-head [class*="head-link-"].head-link-r{right:10px;}
.app-top-head [class*="head-link-"] i{position:absolute;left:0;top:50%;margin-top:-8px;}
.top-head-title{text-align:center;background:#213675;height:44px;}
.top-head-title.fixed-top{position:fixed;top:0;width:100%;z-index:9;}
.top-head-title .tit{color:#fff;font-size:17px;display:inline-block;*display:inline;*zoom:1;line-height:44px;position:relative;}
.top-head-title + .app-top-head{background:none;}

/* 公用内容页头部ios单独处理  by Vita 2017.4.17 */
.ios .app-top-head.fixed-top{padding-top:20px;}
.ios .app-top-head.fixed-top [class*="head-link-"]{top:20px;}
.ios .app-top-head ~ .wrapper .banner{margin-top:0;/*margin-top:64px*/}
.ios .top-head-title.fixed-top{padding-top:20px;}
.ios .top-head-title.fixed-top [class*="head-link-"]{top:20px;}
.ios .cen-conbox.top-blank,.ios section.cen-conbox{margin-top:64px;}

/* app页面访问lp头部单独处理  by Vita 2017.5.9 */
.from_app_page + .wrapper{margin-top: 40px;padding-top: 0;}
.from_app_page + .wrapper .banner{margin-top: 0;padding-top: 0;}
.from_app_page ~ .tcWarp-mobile{margin-top: 40px;}
.ios .from_app_page ~ .tcWarp-mobile{margin-top:66px} /* IOS专用 */
@media (max-width: 979px){
	.from_app_page ~ .wrapper{margin-top: 40px;padding-top: 0;}
	.from_app_page ~ .wrapper .banner{margin-top: 0;padding-top: 0;}
}

/* 访问提示框 20170522 janice */
.visit_tip_shadow{ position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .4;filter: alpha(opacity=40); z-index: 100003; }
.visit_tip{ position: fixed; width: 620px; height: 260px; left: 50%; top: 50%; margin-left: -310px; margin-top: -130px; background: #fff; border-radius: 5px ; z-index: 100004;}
.visit_tip .vit_cont{ position: relative; height: 260px; }
.visit_tip .vit_text{ padding-left: 220px; padding-top: 38px; }
.visit_tip .fca-ico{ position: absolute; width: 127px; height: 162px; background: url(/common/images/visit_tip.png) center 0 no-repeat; left: 50px; top: 38px; }
.visit_tip .vit_text>p{ color: #4d71a6; font-size: 16px; letter-spacing: 7px; }
.visit_tip .vit_text>strong{ display: block; color: #4d71a6; line-height: 1.7; font-size: 24px; margin-bottom: 3px; letter-spacing: 2px}
.vit_text .tickitem{ color: #808080; font-size: 16px; line-height: 20px; }
.vit_text .tickitem i{ display: inline-block; *display: inline; *zoom: 1; vertical-align: top; width: 13px; height: 14px;  background: url(/common/images/visit_tip.png) 0 -170px no-repeat; margin-top: 5px; margin-right: 5px; }
.vit_text .tickitem.t1{ padding-right: 10px; }
.visit_tip .vit_continuebtn{ display: block; background: #3b6eba; width: 160px; line-height: 45px; font-size: 23px; color: #fff; border-radius: 5px; text-align: center; margin-top: 25px; }
.visit_tip .vit_continuebtn:hover{ text-decoration: none; background: #497cc9; }
.visit_tip .vit_text>.hkweb{ display: inline-block;*display: inline;*zoom: 1; background: #fff; margin-left: -20px; padding: 0 20px; margin-top: 32px;font-size: 14px; line-height: 20px; color: #999; position: relative; z-index: 2; }
.visit_tip .vit_botp{ background: #e0e0e0; height: 1px; position: absolute; bottom: 26px; left: 50%;margin-left: -250px; width: 500px; z-index: 1; }
.visit_tip .vit_close{ display: block; width: 18px; height: 18px; background: url(/common/images/visit_tip.png) right -170px no-repeat; position: absolute; right: 10px; top: 10px; }


/* 风险提示层 */
.yinw-layer-box{position:fixed;left:50%;top:50%;margin:-155px 0 0 -300px;width:600px;height:310px;background:#fff;border-radius:5px;overflow:hidden;z-index:100003;box-shadow:0 1px 3px rgba(0,0,0,0.4)}
.yinw-layer-box .y-del-btn{position:absolute;right:5px;top:5px;width:27px;height:27px;background:url(/common/images/layer/new-layer-btn.png) no-repeat right top}
.yinw-layer-box .y-del-btn:hover,.yinw-ly-con .yinw-zx-btn:hover{opacity:0.93;filter:alpha(opacity=93)}
.yinw-ly-im{height:200px;background:url(/common/images/layer/new-layer-gg.png) no-repeat center top}
.yinw-ly-con{padding:20px 0 14px}
.yinw-ly-con .yinw-zx-btn{margin:0 auto;display:block;width:176px;height:54px;background:url(/common/images/layer/new-layer-btn.png) no-repeat 7px 0;text-align:center;color:#fff;line-height:44px;font-size:24px}
.yinw-ly-pfon{margin:7px auto 0;width:490px;height:9px;border-bottom:solid #D5D5D5 1px;text-align:center}
.yinw-ly-pfon span{padding:0 30px;font-size:14px;color:#999;background:#fff}

/* 底部新增广告位 by terry 2017.6.16 */
.bot-adver-box{width:100%;margin:0 auto;height:160px;font-size:0;background:url(/common/images/lpBottomGg.jpg) no-repeat center top}
.bot-adver-box a{display:block;margin:0 auto;width:960px;height:160px;overflow:hidden}

/* 左侧分析师二维码 20170901 Janice*/
.left-float-ewm{position:fixed;top:207px;left:10px;top: 50%;   margin-top: -120px; z-index: 9999; width: 160px; height: 240px;}
.left-float-ewm.dn{ display: none; }
.left-float-ewm h3{font-size:0;height:0;line-height:0;overflow:hidden}
.left-float-ewm .ewm-close{position:absolute;right:0;top:0;display:block;width:20px;height:20px; cursor: pointer; z-index: 9999;}
#small_qr_container{ position:fixed; left:0; top: 50%; margin-top: -60px;z-index: 9999;}


@media (max-width:1023px){
    .comp-mo-fon{display:inline-block}
    .comp-pc-fon{display:none}

    /* ad */
    .bot-adver-box{height:100px;background-size:auto 100px}
    .bot-adver-box a{height:100%;width:auto}

    /*左侧二维码*/
    .left-float-ewm,#small_qr_container{ display: none !important; }

}
@media(max-width:767px){
    /* ad */
    .bot-adver-box{height:90px;background-size:auto 90px;display:none}
    .bot-adver-m{display:block}
}
@media (max-width: 736px){
    .visit_tip{ width: 90%; margin-left: -45%; text-align: center; }
    .visit_tip .fca-ico{ display: inline-block; position: relative; vertical-align: top; left: auto; margin-right: 20px; }
    .visit_tip .vit_text{ padding-left: 0; display: inline-block; text-align: left; }
    /*.visit_tip_shadow,.visit_tip{ display: none !important }*/

    /* ad */
    .bot-adver-box{height:128px;background:url(../images/lpBottomGg_m.jpg) no-repeat center;background-size:auto 128px}
}

@media (max-width: 640px){
    .visit_tip .fca-ico{ margin-right: 10px; width: 64px; height: 81px; background-size: 100% auto }
    .visit_tip .vit_text>strong{ font-size: 18px; }
    .visit_tip .vit_text>p{ font-size: 13px; letter-spacing: 4px }
    .vit_text .tickitem{ font-size: 13px; }
    .vit_text .tickitem i{ width: 8px; height: 9px; background-position: 0 -102px; background-size:76px auto; margin-top: 6px; }
    .visit_tip .vit_continuebtn{width: 120px;    line-height: 34px; font-size: 18px; margin-top: 10px;}
    .visit_tip .vit_text>.hkweb{ font-size: 12px; position: absolute; bottom: 16px;width: 224px; margin-left: -112px; padding: 0; left: 50%; text-align: center; margin-top: 0; }
    .visit_tip .vit_botp{ width: 90%;margin-left: -45%;  }
    .visit_tip{ height: auto; }
    .visit_tip .vit_cont{ height: auto; padding-bottom: 60px; }

    /* 风险提示层响应式 */
    .yinw-layer-box{width:310px;margin:-107px 0 0 -155px;height:auto}
    .yinw-layer-box .y-del-btn{width:27px;height:27px;background-size:162px auto}
    .yinw-ly-im{height:130px;background-size:auto 130px}
    .yinw-ly-con{padding:14px 0 6px}
    .yinw-ly-con .yinw-zx-btn{width:132px;height:40px;line-height:33px;font-size:16px;background-size:162px auto}
    .yinw-ly-pfon{height:auto;border:none;width:auto}
    .yinw-ly-pfon span{font-size:12px;padding:0}

    /* ad */
    .bot-adver-box{height:112px;background-size:auto 112px}
}

@media (max-width: 480px){
    .visit_tip .vit_text{ padding-top: 25px; }
    .visit_tip .vit_text>strong{ font-size: 15px; margin-bottom: 0; line-height: 1.4; }
    .visit_tip .vit_text>p{ font-size: 10px; letter-spacing: 4px }
    .vit_text .tickitem{ font-size: 10px; line-height: 16px; }
    .visit_tip .vit_continuebtn{ width: 100px; line-height: 28px; font-size: 15px; }
    .visit_tip .fca-ico{ margin-top: -5px; }
    .visit_tip .vit_text>.hkweb{ font-size: 10px; width: 190px; margin-left: -95px; bottom: 11px }
    .visit_tip .vit_cont{ padding-bottom: 45px; }
    .visit_tip .vit_botp{ bottom: 20px; }
    .visit_tip .vit_close{ width: 11px; height: 11px;  background-size:76px auto; background-position: right -102px;}

    /* ad */
    .bot-adver-box{height:90px;background-size:auto 90px}
}
@media(max-width:399px){
    /* ad */
    .bot-adver-box{height:84px;background-size:auto 84px}
}
@media (max-width: 359px){
    .visit_tip .fca-ico{ margin-right: 0px; }
    .visit_tip .vit_text>strong{ font-size: 14px; }
    .vit_text .tickitem.t1{ padding-right: 5px; }
    .visit_tip .vit_text>.hkweb{ bottom: 6px; }
    .visit_tip .vit_cont{ padding-bottom: 40px; }
    .visit_tip .vit_botp{ bottom: 15px; }
    /*.header-inner h1 .logo{width:100px;height:32px;background-size:100px auto}*/

    /* ad */
    .bot-adver-box{height:70px;background-size:auto 70px}
}


/* app页面访问无头部处理  by Vita 2017.6.15 */
.from_app_nohead .soft-topfont{margin-top: 0;}
.from_app_nohead .banner{margin-top: 0;}



/* 右侧悬浮 20171225 Emily 更新*/
/* .right-float{ width: 190px; height: 300px;background-position: -1px -70px;margin: -150px 0 0 0; z-index: 99999}
.right-float span{ display: block; text-align: center; font-size: 11px; color: #ffe780; font-weight: 700; margin-top: 202px}
.right-float span s{  text-decoration: none; font-size: 17px; font-family: akziden; font-weight: 100; margin-right: 2px}
.right-fl2-fon .qqzx{margin: 3px 0 0 25px; width: 144px; height: 35px;}
.right-float .close{top:23px;background-position: -221px -180px;}
.right-float .close:hover{background-position:-221px -214px}
.right-service .service{background-position: -204px -24px; }
.right-service{z-index: 99999} */
/* .right-float{ width: 188px; height: 336px;background-position: -1px -70px;margin: -168px 0 0 0; z-index: 99999}
.right-float span{ display: block; text-align: center; font-size: 0; color: #ffe780; font-weight: 700; margin-top: 202px}
.right-float span s{  text-decoration: none; font-size:0; font-family: akziden; font-weight: 100; margin-right: 2px}
.right-fl2-fon .qqzx{margin:70px 0 0 22px; width: 144px; height: 35px;} */
/* .right-float .close{top:42px;right:7px;background-position: -221px -180px;}
.right-float .close:hover{background-position:-221px -214px} */
/* .right-service .service{background-position: -204px -24px; } */


/*右侧悬浮 right-float13 2018-08-06 by Erick*/
.right-float.right-fl3-fon{ 
    position: fixed;
    top: 50%;
    right: 8px;
    background: url(/common/images/right-float.png) center center no-repeat;
    display: inline-block;
    *display: inline; 
    *zoom:1;
    text-align: center;
    width: 180px; 
    height: 280px;
    margin: -168px 0 0 0; 
    z-index: 99999;
    border-top: 1px solid transparent;
}
.right-float.right-fl3-fon .close{
    position: absolute;
    background: url(/common/images/close-icon.png) center center no-repeat;
    display: inline-block;
    *display: inline;
    *zoom:1;
    width:12px; 
    height: 12px;
    top:8px;
    right:8px;
    text-align: center;
}
.right-float.right-fl3-fon .close:hover{
    background: url(/common/images/hover-close-icon.png) center center no-repeat;
}
.right-float.right-fl3-fon .money{
    margin: 0 auto;
    padding-top: 134px;
}
.right-float.right-fl3-fon .money img{
    width:85px; 
    height: 24px;
}
.right-float.right-fl3-fon p{
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    text-align: center;
    margin-top: 8px;
}
.right-float.right-fl3-fon .qqzx{
    display: block;
    margin: 18px auto 0;
    width: 128px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    color: #fff;
    background:#17ce83;
    text-align: center;
    font-weight: bold;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -ms-border-radius: 16px;
    -moz-border-radius: 16px;
    font-family: "PingFang SC";
}
.right-float.right-fl3-fon .qqzx:hover{
    background: #42e8a4;
}
.right-service {
    width: 36px;
    height: 118px;
    display: inline-block;
    position: fixed;
    top: 50%;
    margin:-100px 0 0 0;
    right: 0;
    z-index: 99999;
}
.right-service .service {
    background-position: -178px -24px;
    width: 36px;
    height: 118px;
}

/* 活动条款更新 by Vita 2018.4.27 */
.common-layout-content .ol-decimal li{ list-style: none}
.common-layout-content .ol-decimal-box li{ list-style: decimal}
.common-layout-content table{ border: 1px solid #dcdbda; border-bottom: none}
.common-layout-content th{ background: #dcdbda}
.common-layout-content td{border: solid #dcdbda;    border-width: 0 0px 1px 0px;}

/* 落地头部处理 by terry 2018.5.16 */
.wrapper .noTopBlank,.noTopBlank{margin-top:0;padding-top:0}



