* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
  font-weight: bold;
}

a {
  text-decoration: none;
  transition: all 0.3s;
  font-family: "Microsoft YaHei";
  -webkit-tap-highlight-color: transparent;
}

.noscroll {
  position: fixed;
  width: 100%;
}

html {
  overflow-x: hidden;
}

.w-100 {
  max-width: 100%;
}

.page1 {
  position: relative;
  margin: auto;
  max-width: 1920px;
  height: 1132px;
  background: url(../images/page1_bg.png) no-repeat bottom;
  background-size: cover;
}

.page1 .modal-wrap-o {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page1 .modal-wrap-o .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 220px;
  width: 924px;
  height: 640px;
}

.page1 .modal-wrap-o .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page1 .modal-wrap-o .modal-wrap-position .modal-o {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p1-modal-o.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page1 .flower-wrap {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
}

.page1 .flower-wrap .flower-wrap-l {
  display: block;
  position: absolute;
  top: 30%;
  right: 70%;
  width: 464px;
  height: 238px;
  overflow: hidden;
  z-index: 999;
  -webkit-animation: flow 3s infinite linear;
  animation: flow 3s infinite linear;
}

.page1 .flower-wrap .flower-wrap-l .sakula-l {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s1-sakura-petal.png);
  background-size: 100% 100%;
  z-index: 199;
}

.page1 .flower-wrap .flower-wrap-r {
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 464px;
  height: 238px;
  overflow: hidden;
  -webkit-animation: flow 3s infinite linear;
  animation: flow 3s infinite linear;
}

.page1 .flower-wrap .flower-wrap-r .sakula-r {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s1-sakura-petal.png);
  background-size: 100% 100%;
  z-index: 100;
}

.page1 .page1-inner {
  padding-top: 277px;
}

.page1 .page1-inner .s1-subtitle {
  position: relative;
  max-width: 1420px;
  height: 529px;
  display: block;
  margin: auto;
  background: url(../images/s1-Alltitle.png) no-repeat bottom;
  background-size: cover;
}

.page1 .page1-inner .s1-subtitle .page1-fubag-wrap {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.page1 .page1-inner .s1-subtitle .page1-fubag-wrap .fubag-position {
  display: block;
  position: absolute;
  top: 183px;
  right: 49%;
  width: 245px;
  height: 245px;
}

.page1 .page1-inner .s1-subtitle .page1-fubag-wrap .fubag-position .page1-fubag {
  position: absolute;
  z-index: 5;
  width: 121px;
  height: 154px;
  left: 35%;
  top: 20%;
  background: url(../images/s1-bag.png);
  background-size: 100% 100%;
  z-index: 99;
}

.page1 .page1-inner .s1-subtitle .page1-fubag-wrap .fubag-position .fubag-bg {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 10%;
  top: 0;
  background: url(../images/s1-wave.png);
  background-size: 100% 100%;
  -webkit-animation: scaleLightPage1 2s infinite linear;
  animation: scaleLightPage1 2s infinite linear;
}

.page1 .s1-button {
  display: block;
  position: relative;
  text-align: center;
  z-index: 20;
  margin-top: -100px;
}

.page1 .s1-button a {
  position: relative;
  display: inline-block;
  line-height: 2.25;
  width: 326px;
  height: 78px;
  border-radius: 39px;
  font-family: "Microsoft YaHei";
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  background-color: #dd8a2a;
  color: #ffffff;
}

.page1 .s1-button a:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.page1 .s1-button a:nth-child(1)::before {
  position: absolute;
  top: 95px;
  left: 48px;
  letter-spacing: 2px;
  color: #1b1b1b;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 20px;
  content: "－ 领$2000开户赠金 －";
}

.page1 .s1-button a:nth-child(2) {
  margin-left: 72px;
  display: inline-block;
  line-height: 2.25;
  width: 326px;
  height: 78px;
  border-radius: 39px;
  font-family: "Microsoft YaHei";
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  background-color: transparent;
  color: #dd8a2a;
  border: solid 3px #dd8a2a;
}

.page1 .s1-button a:nth-child(2)::after {
  position: absolute;
  top: 95px;
  left: 63px;
  color: #1b1b1b;
  letter-spacing: 2px;
  font-family: "Noto Sans TC";
  font-weight: 700;
  font-size: 20px;
  content: "－ 免费体验平台 －";
}

.page1 .bg-blossom {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: hidden;
}

.page1 .bg-blossom .blossom-l {
  display: block;
  position: absolute;
  top: 31px;
  right: 51%;
  width: 940px;
  height: 462px;
}

.page1 .bg-blossom .blossom-l i {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/s1-sakura-l.png);
  background-size: 100% 100%;
}

.page1 .bg-blossom .blossom-r {
  display: block;
  position: absolute;
  top: 492px;
  left: 60.667%;
  width: 755px;
  height: 487px;
  overflow: hidden;
}

.page1 .bg-blossom .blossom-r i {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../images/s1-sakura-r.png);
  background-size: 100% 100%;
  overflow: hidden;
}

.page2 {
  position: relative;
  margin: auto;
  max-width: 1920px;
  height: 848px;
  background: url(../images/page2_bg.png) no-repeat top;
  background-size: cover;
  padding-top: 16px;
}

.page2 .page2-title-wrap {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}

.page2 .page2-title-wrap .page2-title-img {
  margin: 0 auto;
  width: 768px;
  height: 78px;
  background: url(../images/page2-smalltitle.png) no-repeat center;
  background-size: contain;
}

.page2 .modal-wrap-l {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  padding-top: 170px;
  z-index: 100;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page2 .modal-wrap-l .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 640px;
}

.page2 .modal-wrap-l .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page2 .modal-wrap-l .modal-wrap-position .modal-l {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p2-modal-l.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page2 .modal-wrap-u {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  z-index: 100;
  padding-top: 170px;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page2 .modal-wrap-u .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 640px;
}

.page2 .modal-wrap-u .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page2 .modal-wrap-u .modal-wrap-position .modal-u {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p2-modal-u.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page2 .modal-wrap-b {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  padding-top: 170px;
  z-index: 100;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page2 .modal-wrap-b .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 640px;
}

.page2 .modal-wrap-b .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page2 .modal-wrap-b .modal-wrap-position .modal-b {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p2-modal-b.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page2 .modal-wrap-r {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  padding-top: 170px;
  z-index: 100;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page2 .modal-wrap-r .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 640px;
}

.page2 .modal-wrap-r .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page2 .modal-wrap-r .modal-wrap-position .modal-r {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p2-modal-r.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page2 .modal-wrap-bird {
  display: block;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  padding-top: 170px;
  z-index: 100;
  background: rgba(255, 193, 205, 0.3);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.page2 .modal-wrap-bird .modal-wrap-position {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 924px;
  height: 640px;
}

.page2 .modal-wrap-bird .modal-wrap-position span {
  position: absolute;
  top: 0;
  left: 708px;
  width: 72px;
  height: 72px;
  z-index: 999;
  border-radius: 50%;
  cursor: pointer;
}

.page2 .modal-wrap-bird .modal-wrap-position .modal-bird {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../images/p2-modal-sp.png") no-repeat top;
  background-size: contain;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.page2 .page2-inner {
  position: relative;
  margin: 0 auto;
  width: 738px;
  height: 563px;
}

.page2 .page2-inner .page2-fubag-wrap {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.page2 .page2-inner .page2-fubag-wrap .page2-active {
  position: absolute;
  top: -70px;
  left: 850px;
  width: 100px;
  height: 20px;
}

.page2 .page2-inner .page2-fubag-wrap .page2-active a {
  font-size: 18px;
}

@media (max-width: 1560px) {
  .page2 .page2-inner .page2-fubag-wrap .page2-active {
    left: 750px;
  }
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-l {
  display: block;
  position: absolute;
  top: 161px;
  right: 471px;
  width: 262px;
  height: 267px;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-l:hover {
  -webkit-animation: rotateHover 1s;
  animation: rotateHover 1s;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-l .p2-l {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s2-bag-l.png);
  background-size: 100% 100%;
  z-index: 99;
  pointer-events: none;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-l a {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: -20%;
  top: 0%;
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-u {
  display: block;
  position: absolute;
  top: 0px;
  right: 232px;
  width: 262px;
  height: 267px;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-u:hover {
  -webkit-animation: rotateHover 1s;
  animation: rotateHover 1s;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-u .p2-u {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s2-bag-u.png);
  background-size: 100% 100%;
  z-index: 99;
  pointer-events: none;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-u a {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: -20%;
  top: 0%;
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-b {
  display: block;
  position: absolute;
  top: 301px;
  right: 213px;
  width: 262px;
  height: 267px;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-b:hover {
  -webkit-animation: rotateHover 1s;
  animation: rotateHover 1s;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-b .p2-b {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s2-bag-b.png);
  background-size: 100% 100%;
  z-index: 99;
  pointer-events: none;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-b a {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: -20%;
  top: 0%;
  -webkit-clip-path: circle(50%);
  clip-path: circle(50%);
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-r {
  display: block;
  position: absolute;
  top: 156px;
  right: 0px;
  width: 262px;
  height: 267px;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-r:hover {
  -webkit-animation: rotateHover 1s;
  animation: rotateHover 1s;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-r .p2-r {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s2-bag-r.png);
  background-size: 100% 100%;
  z-index: 99;
  pointer-events: none;
}

.page2 .page2-inner .page2-fubag-wrap .p2-fubag-r a {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: -10%;
  top: 0%;
  -webkit-clip-path: circle(35%);
  clip-path: circle(35%);
}

.page2 .page2-inner .page2-fubag-wrap .p2-bird-position {
  display: block;
  position: absolute;
  top: 16px;
  right: -90px;
  width: 111px;
  height: 180px;
}

.page2 .page2-inner .page2-fubag-wrap .p2-bird-position .p2-bird {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  background: url(../images/s2-bird.png);
  background-size: 100% 100%;
  z-index: 99;
  pointer-events: none;
}

.page2 .page2-inner .page2-fubag-wrap .p2-bird-position a {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  left: -10%;
  top: 0%;
}

.page3 {
  position: relative;
  margin: auto;
  max-width: 1920px;
  height: 848px;
  background: url(../images/page3_linear.png) no-repeat top;
  background-size: cover;
  padding-top: 205px;
}

.page3 .page3-bg-wrap {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 60px;
  left: 50%;
  width: 1420px;
  height: 670px;
  background: url(../images/page3_bg.png) no-repeat center;
  background-size: cover;
}

@media (max-width: 1560px) {
  .page3 .page3-bg-wrap {
    top: 100px;
    max-width: 1035px;
    height: 490px;
  }
}

.page3 .page3-bg-wrap .page3-bg {
  position: absolute;
  top: 0;
  left: 00%;
}

@media (max-width: 1560px) {
  .page3 .page3-bg-wrap .page3-bg {
    margin: 0 auto;
    max-width: 1334px;
    height: 593.6px;
  }
}

.page3 .page3-wrap {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 1550px;
  height: 590px;
  position: relative;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap {
    width: 1054px;
    height: 389px;
  }
}

@media (max-width: 1054px) {
  .page3 .page3-wrap {
    width: 768px;
    height: 389px;
    margin: 0;
  }
}

.page3 .page3-wrap .p3-fubag-wrap {
  position: absolute;
  top: 0;
  left: 108px;
  width: 137px;
  height: 159px;
  z-index: 199;
  -webkit-animation: scaleLightPage1 2s infinite linear;
  animation: scaleLightPage1 2s infinite linear;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .p3-fubag-wrap {
    left: 30px;
    width: 95.9px;
    height: 111.3px;
  }
}

.page3 .page3-wrap .p3-fubag-wrap .p3-fubag {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/s3-bag.png) no-repeat top;
  background-size: cover;
  z-index: 199;
}

.page3 .page3-wrap .lotery {
  position: absolute;
  top: 61px;
  left: 198px;
  width: 609px;
  height: 407px;
  border-radius: 10px;
  background: #fff;
  overflow: hidden;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .lotery {
    top: 50.1px;
    left: 95.2px;
    width: 426px;
    height: 285px;
  }
}

.page3 .page3-wrap .lotery .text {
  padding-left: 48px;
  padding-top: 49px;
  padding-bottom: 43px;
  overflow: hidden;
  animation: slidetop 9999s linear;
}

.page3 .page3-wrap .lotery .text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 49px;
  background: #fff;
  z-index: 99;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .lotery .text::before {
    height: 35px;
  }
}

.page3 .page3-wrap .lotery .text::after {
  content: "";
  position: absolute;
  margin-top: -25px;
  top: 95%;
  left: 0;
  width: 100%;
  height: 49px;
  background: #fff;
  z-index: 99;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .lotery .text {
    padding-left: 20.6px;
    padding-top: 34.3px;
    padding-bottom: 30.1px;
  }
}

.page3 .page3-wrap .lotery .text .text-move .text-L {
  display: inline-block;
}

.page3 .page3-wrap .lotery .text .text-move .text-R {
  display: inline-block;
  margin-left: 40px;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .lotery .text .text-move .text-R {
    margin-left: 37.8px;
  }
}

.page3 .page3-wrap .lotery .text p {
  font-size: 20px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0px;
  color: #333333;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .lotery .text p {
    font-size: 14px;
    line-height: 28px;
  }
}

.page3 .page3-wrap .form-wrap form.flex-position .mid-btn {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 51px;
  margin-left: 75px;
  width: 321px;
  height: 70px;
  background-color: #dd8a2a;
  border-radius: 35px;
  font-size: 30px;
  font-stretch: normal;
  line-height: 70px;
  letter-spacing: 0px;
  color: #fefefe;
}

@media (max-width: 1560px) {
  .page3 .page3-wrap .form-wrap form.flex-position .mid-btn {
    display: block;
    text-align: center;
    /* margin: 0 auto; */
    margin-top: 20px;
    margin-left: 0px;
    width: 471px;
    height: 60px;
    background-color: #dd8a2a;
    border-radius: 35px;
    /* font-size: 20px; */
    font-stretch: normal;
    /* line-height: 40px; */
    letter-spacing: 0px;
    color: #fefefe;
  }
}

.page3 .form-wrap {
  position: absolute;
  top: 50px;
  left: 875px;
}

@media (max-width: 1560px) {
  .page3 .form-wrap {
    position: absolute;
    top: 10px;
    left: 547px;
  }
}

.page3 .page3-wrap .form-wrap form.flex-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.page3 .page3-wrap .form-wrap form.flex-position label input {
  margin-top: 46px;
  width: 471px;
  height: 74px;
  border-radius: 10px;
  border: solid 2px #dd8a2a;
  background: inherit;
  font-size: 20px;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #dd8a2a;
  padding-left: 92px;
}

.page3 .page3-wrap .form-wrap form.flex-position label input::-webkit-input-placeholder {
  font-size: 20px;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #dd8a2a;
}

.page3 .page3-wrap .form-wrap form.flex-position label input:-ms-input-placeholder {
  font-size: 20px;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #dd8a2a;
}

.page3 .page3-wrap .form-wrap form.flex-position label input::-ms-input-placeholder {
  font-size: 20px;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #dd8a2a;
}

.page3 .page3-wrap .form-wrap form.flex-position label input::placeholder {
  font-size: 20px;
  font-stretch: normal;
  line-height: 42px;
  letter-spacing: 0px;
  color: #dd8a2a;
}

.page3 .page3-wrap .form-wrap form.flex-position label .icon1 {
  background: url("../images/s3-phone.png");
  background-repeat: no-repeat;
  background-size: 23px 34px;
  width: 23px;
  height: 34px;
  position: absolute;
  margin-left: 41px;
  margin-top: 68px;
}

.page3 .page3-wrap .form-wrap form.flex-position label .icon2 {
  background: url("../images/s3-password.png");
  background-repeat: no-repeat;
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
  position: absolute;
  margin-left: 41px;
  margin-top: 68px;
}

.page4 {
  position: relative;
  margin: auto;
  max-width: 1920px;
  height: 772px;
  background: url(../images/page4_bg_linear.png) no-repeat top;
  background-size: cover;
  padding-top: 197px;
}

.page4 .logo-wrap {
  position: relative;
  margin: 0 auto;
  width: 1190px;
  height: 298px;
}

.page4 .logo-wrap .logo-l {
  position: relative;
  display: inline-block;
  width: 297px;
  height: 298px;
}

.page4 .logo-wrap .logo-l:hover img {
  -webkit-animation: rotate360 1s linear;
  animation: rotate360 1s linear;
}

.page4 .logo-wrap .logo-c {
  position: relative;
  display: inline-block;
  width: 297px;
  height: 298px;
  margin-left: 132px;
}

.page4 .logo-wrap .logo-c:hover img {
  -webkit-animation: rotate360 1s linear;
  animation: rotate360 1s linear;
}

.page4 .logo-wrap .logo-r {
  position: relative;
  display: inline-block;
  width: 297px;
  height: 298px;
  margin-left: 130px;
}

.page4 .logo-wrap .logo-r:hover img {
  -webkit-animation: rotate360 1s linear;
  animation: rotate360 1s linear;
}

.page4 .page4-a-wrap {
  position: relative;
  margin: 0 auto;
  margin-top: 182px;
  width: 1149px;
  height: 95px;
  padding-left: 150px;
}

.page4 .page4-a-wrap a {
  display: inline-block;
  text-align: center;
  width: 326px;
  height: 78px;
  background-color: #dd8a2a;
  border-radius: 39px;
  font-size: 36px;
  line-height: 72px;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 76px;
}

.page4 .page4-a-wrap a:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.page4 .page4-a-wrap a:nth-child(2) {
  border: solid 3px #dd8a2a;
  color: #dd8a2a;
  background: inherit;
}

.page5 {
  position: relative;
  margin: auto;
  max-width: 1920px;
  height: 1170px;
  background: url(../images/page5_bg_linear.png) no-repeat top;
  background-size: cover;
}

.page5 .page5-a-wrap {
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 90%;
  left: 50%;
  width: 1149px;
  height: 95px;
  padding-left: 150px;
}

.page5 .page5-a-wrap a {
  display: inline-block;
  text-align: center;
  width: 326px;
  height: 78px;
  background-color: #dd8a2a;
  border-radius: 39px;
  font-size: 36px;
  line-height: 72px;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #ffffff;
  margin-left: 76px;
}

.page5 .page5-a-wrap a:hover {
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}

.page5 .page5-a-wrap a:nth-child(2) {
  border: solid 3px #dd8a2a;
  color: #dd8a2a;
  background: inherit;
}

.page5 span {
  display: inline-block;
  width: 26px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 423px;
  cursor: pointer;
  z-index: 1000;
}

.page5 span.arrow-left {
  background-image: url(../images/arrow-left.png);
  left: 25%;
  transform: translateY(-50%);
  top: 50%;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7))
}

.page5 span.arrow-left:hover {
  background-image: url(../images/arrow-left.png);
  left: 25%;
  transform: translateY(-50%);
  top: 50.111%;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9))
}

.page5 span.arrow-right {
  background-image: url(../images/arrow-right.png);
  right: 25%;
  transform: translateY(-50%);
  top: 50%;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.7))
}

.page5 span.arrow-right:hover {
  background-image: url(../images/arrow-right.png);
  right: 25%;
  transform: translateY(-50%);
  top: 50.111%;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.9))
}

.slide-wrap {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 1066px;
  height: 60%;
}

.page5 .mySlides {
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.page5 .mySlides1 {
  position: absolute;
  transform: translate(-50%);
  top: 15%;
  width: 35%;
  margin-left: 20%;
  opacity: 0.5;
  z-index: 2;
  transition: all 0.6s;
}

.page5 .mySlides2 {
  position: absolute;
  transform: translate(-50%);
  width: 40%;
  top: 10%;
  margin-left: 50%;
  z-index: 3;
  transition: all 0.6s;
}

.page5 .mySlides3 {
  position: absolute;
  opacity: 0.5;
  transform: translate(-50%);
  top: 15%;
  width: 35%;
  margin-left: 80%;
  z-index: 2;
  transition: all 0.6s;
}

.page5 .prev, .page5 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.page5 .prev:hover, .page5 .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.page5 .next {
  right: 0;
}

.page5 .fade {
  -webkit-animation: fade 1.5s;
  animation: fade 1.5s;
}

.page5 .page4-button-wrap {
  position: absolute;
  width: 100%;
  top: 87.01696%;
  left: 0;
}

.page5 .page4-button-wrap a:nth-child(1), .page5 .page4-button-wrap a:nth-child(2) {
  position: absolute;
  top: 0;
  left: 27%;
  display: block;
  font-stretch: normal;
  letter-spacing: 0px;
  width: 16.979%;
  height: 4.063%;
  padding-bottom: 4.063%;
  text-align: center;
  line-height: 170%;
  border-radius: 39px;
  background-color: #dd8a2a;
  color: #ffffff;
  font-size: 0.18rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 99;
}

.page5 .page4-button-wrap a:nth-child(1):hover, .page5 .page4-button-wrap a:nth-child(2):hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.page5 .page4-button-wrap a:nth-child(2) {
  left: 52%;
  color: #dd8a2a;
  border: 3px solid #dd8a2a;
  background-color: inherit;
}

.left_btn {
  position: relative;
  top: -350px;
  height: 100px;
  width: 80px;
  z-index: 10;
}

._left_btn:hover {
  cursor: pointer;
}

.right_btn {
  float: right;
  position: relative;
  top: -350px;
  right: 0;
  height: 100px;
  width: 80px;
  z-index: 10;
}

.right_btn:hover {
  cursor: pointer;
}

.rotate-0s {
  -webkit-animation: rotating 1s linear;
  animation: rotating 1s linear;
}

.rotate-1s {
  -webkit-animation: rotating 1s 1s linear;
  animation: rotating 1s 1s linear;
}

.rotate-2s {
  -webkit-animation: rotating 1s 2s linear;
  animation: rotating 1s 2s linear;
}

.rotate-3s {
  -webkit-animation: rotating 1s 3s linear;
  animation: rotating 1s 3s linear;
}

.shake {
  -webkit-animation: shake 0.9s;
  animation: shake 0.9s;
}

.fadeInBird {
  -webkit-animation: fadeIn 1s, animateBird 3s 1s infinite linear;
  animation: fadeIn 1s, animateBird 3s 1s infinite linear;
}

.animateBird {
  -webkit-animation: animateBird 3s infinite linear;
  animation: animateBird 3s infinite linear;
}

@-webkit-keyframes scaleLightPage1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleLightPage1 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateX(500%);
    transform: translateX(500%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-2px, 0, 0);
    transform: translate3d(-2px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(3px, 0, 0);
    transform: translate3d(3px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(6px, 0, 0);
    transform: translate3d(6px, 0, 0);
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes animateBird {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  80% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes animateBird {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  40% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  60% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px);
  }
  80% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes flow {
  0% {
    -webkit-transform: translate(0%) rotate(0deg);
    transform: translate(0%) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(10%, 10%) rotate(5deg);
    transform: translate(10%, 10%) rotate(5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(20%, 15%) rotate(0deg);
    transform: translate(20%, 15%) rotate(0deg);
    opacity: 0;
  }
}

@keyframes flow {
  0% {
    -webkit-transform: translate(0%) rotate(0deg);
    transform: translate(0%) rotate(0deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: translate(10%, 10%) rotate(5deg);
    transform: translate(10%, 10%) rotate(5deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(20%, 15%) rotate(0deg);
    transform: translate(20%, 15%) rotate(0deg);
    opacity: 0;
  }
}

@-webkit-keyframes slidetop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -99999px;
  }
}

@keyframes slidetop {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -99999px;
  }
}

@keyframes rotateHover {
  0% {
    transform: rotate(5deg);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

@keyframes rotate360 {
  0% {
    transform: rotateY(0deg) scale(1);
  }
  50% {
    transform: rotateY(180deg) scale(1.5);
  }
  100% {
    transform: rotateY(360deg) scale(1);
  }
}

@media (max-width:750px) {
  .pc-site {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */